.container{
    position: relative;
    padding-top: 110px;
    background-color: #EAEAEA;
}

.button{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 40px;
    border: 1px solid #0040F0;
    background-color: white;
    cursor: pointer;
    color: #0040F0;
}

.button:hover{
    color: white;
    background-color: #0040F0;
}

@media only screen and (min-width: 600px) {
    .container{
        padding-top: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}